body * {
    border: 1px solid;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    margin: 0;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}